/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.body {
}

.agile-board-navbar {
  color: #ffffff;
  background-color: #026AA7;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-brand, .navbar-nav  {
  color: #ffffff;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.alerts {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  width: 90%;
  z-index: 1;
}

.session {
  padding-top: 50px;
  text-align: center;
}

.notifications-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 18;
}

.unread {
  color: #EB5A46 !important;
}
