// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
    background-color: #026AA7;
    border-radius: 3px;
    bottom: 0;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    width: 300px;
    padding-top: 10px;
    margin-bottom: 10px;
    height: 100px;
}

.board-title {
    min-height: 60px;
    padding-left: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18;
}

.board-options {
    min-height: 60px;
    padding-right: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18;
}

.board-options a {
    font-size: 16;
    color: #8c8c8c;
    text-decoration: none;
}


.board-list-title {
  margin-top: 50px;
}

.board-area {
  background-color: #0079bf;
  min-width: 100%;
  min-height: 100%;
  display: inline-block;
}

.board-column {
  background-color: #E2E4E6;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

.board-column-title {
  font-size: 15;
  font-weight: bold;
  width: 100%;
  height: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 5px;
  color: #4d4d4d;
}

.done, .ideas {
  background-color: #4CAF50;
}

.commited, .on-review, .in-progress {
  background-color: #D9B51C;
}

.to-do {
  background-color: #EB5A46;
}

.cards-area {
  margin-left: 7px;
  margin-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  min-height: 130px;
}

.new-card-form-area {
  margin-left: 7px;
  margin-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.card {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  min-height: 60px;
  border-radius: 3px;
}

.new-board {
  background-color: #E2E4E6 !important;
}

.new-board-title {
  width: 300px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  color: #8c8c8c;
  font-weight: bold;
  font-size: 16;
}

.board-form {
  background-color: #ffffff;
  border: 1px solid #D6DADC;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  width: 300px;
  padding-top: 10px;
  margin-bottom: 10px;
  height: 150px;
}

.destroy-board {
  color: #ffffff;
}

.new-card-form {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  min-height: 120px;
  border-radius: 3px;
}

.add-new-card-span {
  color: #8c8c8c;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.add-new-card-span:hover {
  background-color: #D6DADC;
}

.vote {
  color: #D6DADC;
}

.unvote {
  color: gold;
}
